*{
	padding: 0px;
	margin: 0px;
}
.nav{
	display: block;
	background-color: #333;
	padding: 0px;
	margin: 0px;
}

.nav li{
	list-style: none;
	display: inline-block;
	padding: 20px 30px;

}
.nav li:hover{
	background-color: red;
	border-radius: 20px;
	list-style: none;
	display: inline-block;
	padding: 20px 30px;

}
.nav li a{
	color: #fff;
	text-decoration: none;
}
